#root {
  margin: 0 auto;
  text-align: center;
}

.preventSelect {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.header {
  margin: 0px 0px 12px 0px;
}

.textInput {
  padding: 12px;
  margin: 0px 0px 12px 0px;
  border-radius: 14px;
  border: none;
  font-family: inherit;
  transition: .5s;
  background-color: #8cf5777c;
  color: white;
  outline: none;
  font-weight: 700;
  box-shadow: 0 0 2px 1px #46ff217c;
}

.textInput::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.textInput:hover {
  box-shadow: 0 0 4px 2px #46ff217c;
}

.textInput:focus {
  box-shadow: 0 0 8px 4px #46ff217c;
  transform: scale(1);
}

.listTilesContainer {
  display: flex;
  flex-direction: column;
  margin: 12px 6px;
}

.tilesContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.listTile {
  display: flex;
  background-color: #242424;
  border: 1px double rgba(255, 255, 255, 0.5);
  border-radius: 14px;
  padding: 6px 12px;
  transition: .5s;
  cursor: pointer;
  margin-bottom: 12px;
}

.listTile:hover {
  border-color: rgba(255, 255, 255, 1);
  transform: translate(5px);
}

.paginationIndicatorContainer {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.paginationIndicatorCounterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 6px;
  padding: 0;
  border-radius: 6px;
  border: 2px solid white;
}

.paginationIndicatorCounterContainer p {
  margin: 0px 8px;
  padding: 0;
}

.indicatorIcon {
  cursor: pointer;
}